<div class="detail" *ngIf="employee">
  <fieldset>
    <legend>{{employee.name}}</legend>
    Address : {{employee.address}}<br />
    National Insurance Number: {{employee.national_insurance}}<br/>
    IBAN Number: {{employee.bic_iban}}<br/>
    Salary: ${{employee.salary}}<br />
    Employee Number: {{employee.id}}<br />
    Department: {{employee.department}}<br />
    <button type="button" class="btn btn-primary" (click)="openForm(employee)">Update</button>
    <button type="button" class="btn btn-danger" (click)="delete(employee)">Delete</button>
  </fieldset>
</div>
